# Check if its a prod or dev environment
NODE_ENV=

# Discord Bot Configuration
BOT_TOKEN=
BOT_APP_ID=

# Whether to register commands globally or in a specific guild
GLOBAL_COMMANDS=TRUE

# If GLOBAL_COMMANDS is FALSE, set your guild ID here
COMMAND_GUILD_ID=

# ADD YOUR DISCORD ID TO ENSURE THAT OWNER ONLY COMMANDS WILL BE USED ONLY BY YOU
OWNERS='["452581229649461258"]'